<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXSWp__7PjRlSg3ffUGVN9Fak3B5FNuEA</string>
	<key>GCM_SENDER_ID</key>
	<string>865233704774</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utn-frlp.habitos</string>
	<key>PROJECT_ID</key>
	<string>habitos-6168a</string>
	<key>STORAGE_BUCKET</key>
	<string>habitos-6168a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865233704774:ios:85be18d109d7cd2b8ff747</string>
</dict>
</plist>